:root{

    --black-color: rgb(27, 25, 25);
    
}

html,body{

    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: Helvetica;

}


.logo{

    padding-left: 15px;

}

nav{

    background-color: var(--black-color);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul{
    
    display: flex;
    
}

nav li{

    padding-right: 10px;
    list-style: none;
    
}

nav li a{

    color: gray;
    text-decoration: none;
    background-color: var(--black-color);
    padding: 15px;
    padding-top: 35px;
    padding-bottom: 32px;

}

nav li a:hover{
    
    color: white;
    background-color: rgb(36, 35, 35);

}

.main_section{

    padding-top: 5%;
    text-align: center;

}

.valores{

    height: 70%;
    background-image: url(https://i.imgur.com/k5flthD.png);
    background-size: cover;
    background-position: bottom;
    padding: 2%;

}

.tarjeta{

    padding: 4%;
    background-color: var(--black-color);
    color: white;
    margin: 2%;
    box-shadow: 2px 2px 6px black;

}

.tarjeta img{

    margin: 1%;
}

.valores .seccion_tarjetas{

    padding: 4%;
    display: flex;
    text-align: center;

}

.derechos{

    color:white;
    background-color: var(--black-color);
    text-align: center;
    padding: 2%;
    margin: 0px;

}

.pago_texto input{

    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 20px;
    
}
