html,body{

    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: Helvetica;

}

.logo{

    padding-left: 15px;

}

nav{

    background-color: crimson;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul{
    
    display: flex;
    
}

nav li{

    padding-right: 10px;
    list-style: none;
    
}

nav li a{

    color: white;
    text-decoration: none;

}

nav li a:hover{
    
    color: rgb(68, 0, 0);
}

.main_section{

    padding: 20%;
    text-align: center;
    background-image: url(https://i.imgur.com/izlSbkU.jpg);
    background-size: cover;

}
